{% extends "::admin-base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Naujas Administratorius</h3>
                </div>

                {% trans_default_domain 'FOSUserBundle' %}

                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
                {{ form_end(form) }}

                <br/> &nbsp;
            </div>
        </div>
    </div>
{% endblock %}
