{% extends "::admin-base.html.twig" %}

{% block title %}Administravimo skydinė{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            overflow: auto;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Naujo Patiekalo Įtraukimas</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="form-control">Išsaugoti</button>
        {{ form_end(form) }}
    </div>

{% endblock %}