{% extends "::admin-base.html.twig" %}

{% block title %}Administravimo skydinė{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ userCount }}</h3>

                    <p>Registruotų vartotojų</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <i class="small-box-footer">&nbsp;</i>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>Statistika</h3>

                    <p>
                        <a href="https://www.google.com/analytics/" target="_blank" style="color: #fff;">Google Analytics</a>
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <i class="small-box-footer"><a href="https://www.google.com/analytics/" target="_blank" style="color: #fff;">Google Analytics <i class="fa fa-arrow-circle-right"></i></a></i>
            </div>
        </div>
        <!-- ./col -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}