{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="form-control">Save</button>
{{ form_end(form) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}